#wpsmuu {
    background: rgba(0, 0, 0, 0.8); 
    position: fixed; 
    top: 0; right: 0; bottom: 0; left: 0; 
    width: 100%; 
    z-index: 100000000000000; 
    display: none;
}

#wpsmuu .wpsmuu-fullscreen {
    display: table; 
    width: 100%; height: 100%;
}

#wpsmuu .wpsmuu-fullscreen-child {
    display: table-cell; 
    vertical-align: middle; 
    width: 100%; height: 100%;
}

#wpsmuu .wpsmuu-modal {
    width: 480px; height: 480px; 
    background: white; 
    margin: 0 auto; 
    padding: 50px;
}

#wpsmuu .wpsmuu-modal h1 { 
    font-family: Roboto, Arial !important; 
    font-size: 36px; 
    font-weight: 300; 
    margin-bottom: 30px;
    letter-spacing: -2px;
    color: #000;
}

#wpsmuu .wpsmuu-modal p { 
    font-family: Roboto, Arial !important; 
    font-size: 16px; 
    font-weight: 300; 
    line-height: 32px;
    letter-spacing: -0.25px;
    color: #5f6368;
    margin-bottom: 15px !important;
}

#wpsmuu a {
    background: #036; 
    padding: 15px 50px; 
    display: inline-block; 
    color: #fff !important; 
    font-weight: 700 !important;
    font-size: 16px;
    text-decoration: none;
    margin-top: 50px;
}